@charset "utf-8";

.pagination {
    width: 80%;
}

.pagination li {
    list-style-type: none;
    list-style-position: inside;
    display: inline;
}

#graph {
	width:90%;
}

#graph2 {
	width:90%;
}