{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Historical Data Commercial Units in Rome - Nuovo Salario Area
	</title>
	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
        <section id="main">
            {% block content %}
            <p>Placeholder text in base template. Replace with page content.</p>
            {% endblock content %}    
		</section>
		<footer id="footer">Copyright &copy;
            <script type="text/JavaScript">
                document.write(new Date().getFullYear());                    
            </script> Programmasuka
        </footer>
    </div>
</body>
</html>