{% load static %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
	<title> Historical Data Commercial Units in Rome - Nuovo Salario Area
	</title>
	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
        <section id="main">
        <table>
            <title> List of Shop Ads </title>
            {% render_table object_list %}      
        </table>
		</section>
		<footer id="footer">Copyright &copy;
            <script type="text/JavaScript">
                document.write(new Date().getFullYear());                    
            </script> Programmasuka
        </footer>
    </div>
</body>
</html>